<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Respuesta</title>
</head>
<body background="https://img.freepik.com/vektoren-premium/gps-kartennavigator-konzept-strassenkarten-und-wegbeschreibungen-vektorillustration_230920-2779.jpg?w=2000">
    <center>
        <br>
        <br>
            <h1>RESULTADOS ENCONTRADOS...</h1>
        <br>
        <br>
    <label>Este es la ruta mas cercana: {{ mejor_ruta }} </label> 
        <br> 
    <label>La distancia es de: {{ distancia_total }} </label> 
        <br> 
        <br> 
        <br> 
        <img src="https://static.vecteezy.com/system/resources/previews/014/034/125/original/truck-box-delivery-3d-illustration-png.png" width="300" height="300"/>
        <br> 
    <label>{{ resultado }}</label> 
    </center>
</body>
</html>